.dashboard {
    width: 60%;
    min-height: 80vh;
    margin: 30px auto;
    color: white;
}

.dashboard .info {
    background-color: #222;
    padding: 20px;
    
    border-radius: 0 0 10px 10px;
}

.dashboard-title {
    background-color: #00c975;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 10px;
}